In [1]:
import pandas as pd

In [2]:
# train_df = pd.read_csv("c:/Users/91959/Desktop/aftech/fraudTrain.csv")
# test_df = pd.read_csv("c:/Users/91959/Desktop/aftech/fraudTest.csv")
# print("train shape:",train_df.shape)
# print("test shape:",test_df.shape)

In [3]:
# combined_df = pd.concat([train_df, test_df], axis=0)
# combined_df.shape

In [4]:
# combined_df.columns

In [5]:
# combined_df.to_csv('fraudCombined.csv', index=False)

In [6]:
df = pd.read_csv("c:/Users/91959/Desktop/aftech/fraudCombined.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1852394 entries, 0 to 1852393
Data columns (total 23 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0             int64
 1   trans_date_trans_time  object
 2   cc_num                 int64
 3   merchant               object
 4   category               object
 5   amt                    float64
 6   first                  object
 7   last                   object
 8   gender                 object
 9   street                 object
 10  city                   object
 11  state                  object
 12  zip                    int64
 13  lat                    float64
 14  long                   float64
 15  city_pop               int64
 16  job                    object
 17  dob                    object
 18  trans_num              object
 19  unix_time              int64
 20  merch_lat              float64
 21  merch_long             float64
 22  is_fraud               int64
dtypes: float64(5), int64(6), object(12)
memory usage: 325.1+ MB

In [7]:
df.drop(df.columns[0], axis=1, inplace=True)

In [8]:
# df['gender'] = df['gender'].astype("category")
# df['is_fraud'] = df['is_fraud'].astype("category")
# df['category'] = df['category'].astype("category")
# df['state'] = df['state'].astype("category")

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.drop(columns=['first','last','trans_num','cc_num','unix_time'],inplace=True)

In [11]:
df.columns

Index(['trans_date_trans_time', 'merchant', 'category', 'amt', 'gender',
       'street', 'city', 'state', 'zip', 'lat', 'long', 'city_pop', 'job',
       'dob', 'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [12]:
df["trans_date_trans_time"] = pd.to_datetime(df["trans_date_trans_time"])
df["dob"] = pd.to_datetime(df["dob"])

In [13]:
df['DOB_Year'] = df['dob'].dt.year
df['DOB_Month'] = df['dob'].dt.month
df.drop('dob', axis=1, inplace=True)

In [14]:
df['trns_Year'] = df['trans_date_trans_time'].dt.year
df['trns_Month'] = df['trans_date_trans_time'].dt.month
df['trns_Hour'] = df['trans_date_trans_time'].dt.hour
df.drop('trans_date_trans_time', axis=1, inplace=True)

In [15]:
df.head(3)

,merchant,category,amt,gender,street,city,state,zip,lat,long,city_pop,job,merch_lat,merch_long,is_fraud,DOB_Year,DOB_Month,trns_Year,trns_Month,trns_Hour
0,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,561 Perry Cove,Moravian Falls,NC,28654,36.0788,-81.1781,3495,"Psychologist, counselling",36.011293,-82.048315,0,1988,3,2019,1,0
1,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,49.159047,-118.186462,0,1978,6,2019,1,0
2,fraud_Lind-Buckridge,entertainment,220.11,M,594 White Dale Suite 530,Malad City,ID,83252,42.1808,-112.2620,4154,Nature conservation officer,43.150704,-112.154481,0,1962,1,2019,1,0

In [16]:
# df['trns_Hour'].value_counts()

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1852394 entries, 0 to 1852393
Data columns (total 20 columns):
 #   Column      Dtype
---  ------      -----
 0   merchant    object
 1   category    object
 2   amt         float64
 3   gender      object
 4   street      object
 5   city        object
 6   state       object
 7   zip         int64
 8   lat         float64
 9   long        float64
 10  city_pop    int64
 11  job         object
 12  merch_lat   float64
 13  merch_long  float64
 14  is_fraud    int64
 15  DOB_Year    int32
 16  DOB_Month   int32
 17  trns_Year   int32
 18  trns_Month  int32
 19  trns_Hour   int32
dtypes: float64(5), int32(5), int64(3), object(7)
memory usage: 247.3+ MB

In [21]:
df.nunique()

merchant          693
category           14
amt             60616
gender              2
street            999
city              906
state              51
zip               985
lat               983
long              983
city_pop          891
job               497
merch_lat     1754157
merch_long    1809753
is_fraud            2
DOB_Year           82
DOB_Month          12
trns_Year           2
trns_Month         12
trns_Hour          24
dtype: int64

In [22]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

df["gender"] = encoder.fit_transform(df["gender"])
df["is_fraud"] = encoder.fit_transform(df["is_fraud"])
df["category"] = encoder.fit_transform(df["category"])
df["state"] = encoder.fit_transform(df["state"])

In [23]:
from category_encoders import TargetEncoder

target_encoder = TargetEncoder()

df["merchant"] = target_encoder.fit_transform(df["merchant"],df["is_fraud"])
df["street"] = target_encoder.fit_transform(df["street"],df["is_fraud"])
df["city"] = target_encoder.fit_transform(df["city"],df["is_fraud"])
df["job"] = target_encoder.fit_transform(df["job"],df["is_fraud"])

In [25]:
df.drop('trns_Year', axis=1, inplace=True)

In [28]:
df.head()

,merchant,category,amt,gender,street,city,state,zip,lat,long,city_pop,job,merch_lat,merch_long,is_fraud,DOB_Year,DOB_Month,trns_Month,trns_Hour
0,0.013575,8,4.97,0,0.003758,0.003758,27,28654,36.0788,-81.1781,3495,0.003320,36.011293,-82.048315,0,1988,3,1,0
1,0.009921,4,107.23,0,0.001605,0.002160,47,99160,48.8878,-118.2105,149,0.002472,49.159047,-118.186462,0,1978,6,1,0
2,0.001893,0,220.11,1,0.010884,0.010884,13,83252,42.1808,-112.2620,4154,0.021534,43.150704,-112.154481,0,1962,1,1,0
3,0.002416,2,45.00,1,0.020188,0.020188,26,59632,46.2306,-112.1138,1939,0.005461,47.034331,-112.561071,0,1967,1,1,0
4,0.003057,9,41.96,1,0.004449,0.004449,45,24433,38.4207,-79.4629,99,0.004449,38.674999,-78.632459,0,1986,3,1,0

In [30]:
df.nunique()

merchant          662
category           14
amt             60616
gender              2
street            426
city              438
state              51
zip               985
lat               983
long              983
city_pop          891
job               410
merch_lat     1754157
merch_long    1809753
is_fraud            2
DOB_Year           82
DOB_Month          12
trns_Month         12
trns_Hour          24
dtype: int64

In [31]:
df['is_fraud'].value_counts()

is_fraud
0    1842743
1       9651
Name: count, dtype: int64

In [32]:
# df.to_csv('clean_fraudCombined.csv', index=False)