In [1]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder

In [2]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)
#pd.reset_option('display.float_format')

In [3]:
#df = pd.read_csv("c:/Users/91959/Desktop/aftech/fraudTrain.csv")
df = pd.read_csv("c:/Users/91959/Desktop/aftech/fraudTest.csv")
df.head(2)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86000,Jeff,Elliott,M,351 Darlene Green,...,33.96590,-80.93550,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.98639,-81.20071,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84000,Joanne,Williams,F,3638 Marsh Union,...,40.32070,-110.43600,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.45050,-109.96043,0

In [4]:
df.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [5]:
len(df.columns)

23

In [6]:
df.drop(df.columns[0], axis=1, inplace=True)

In [7]:
df['gender'] = df['gender'].astype("category")
df['is_fraud'] = df['is_fraud'].astype("category")
df['category'] = df['category'].astype("category")
df['state'] = df['state'].astype("category")

In [8]:
df['is_fraud'].value_counts()

is_fraud
0    553574
1      2145
Name: count, dtype: int64

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.shape

(555719, 22)

In [11]:
df["trans_date_trans_time"] = pd.to_datetime(df["trans_date_trans_time"])
df["dob"] = pd.to_datetime(df["dob"])

In [12]:
df.drop(columns=['first','last','trans_num','cc_num','dob','unix_time'],inplace=True)

In [13]:
df.drop(columns=['trans_date_trans_time'],inplace=True)

In [14]:
df.nunique()

merchant         693
category          14
amt            37256
gender             2
street           924
city             849
state             50
zip              912
lat              910
long             910
city_pop         835
job              478
merch_lat     546490
merch_long    551770
is_fraud           2
dtype: int64

In [15]:
df.rename(columns={"amt":"amount(USD)"},inplace=True)

In [16]:
# preprocessing.LabelEncoder() - Encode target labels with value between 0 and n_classes-1.
# preprocessing.OneHotEncoder(*[, categories, ...]) - Encode categorical features as a one-hot numeric array.
# preprocessing.OrdinalEncoder(*[, ...]) - Encode categorical features as an integer array.
# preprocessing.TargetEncoder([categories, ...]) - Target Encoder for regression and classification targets.

In [17]:
encoder = LabelEncoder()
df["gender"] = encoder.fit_transform(df["gender"])
df["is_fraud"] = encoder.fit_transform(df["is_fraud"])
df["category"] = encoder.fit_transform(df["category"])
df["state"] = encoder.fit_transform(df["state"])

In [18]:
df.head(2)

,merchant,category,amount(USD),gender,street,city,state,zip,lat,long,city_pop,job,merch_lat,merch_long,is_fraud
0,fraud_Kirlin and Sons,10,2.86000,1,351 Darlene Green,Columbia,39,29209,33.96590,-80.93550,333497,Mechanical engineer,33.98639,-81.20071,0
1,fraud_Sporer-Keebler,10,29.84000,0,3638 Marsh Union,Altonah,43,84002,40.32070,-110.43600,302,"Sales professional, IT",39.45050,-109.96043,0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   merchant     555719 non-null  object
 1   category     555719 non-null  int32
 2   amount(USD)  555719 non-null  float64
 3   gender       555719 non-null  int32
 4   street       555719 non-null  object
 5   city         555719 non-null  object
 6   state        555719 non-null  int32
 7   zip          555719 non-null  int64
 8   lat          555719 non-null  float64
 9   long         555719 non-null  float64
 10  city_pop     555719 non-null  int64
 11  job          555719 non-null  object
 12  merch_lat    555719 non-null  float64
 13  merch_long   555719 non-null  float64
 14  is_fraud     555719 non-null  int64
dtypes: float64(5), int32(3), int64(3), object(4)
memory usage: 57.2+ MB

In [20]:
df.nunique()

merchant          693
category           14
amount(USD)     37256
gender              2
street            924
city              849
state              50
zip               912
lat               910
long              910
city_pop          835
job               478
merch_lat      546490
merch_long     551770
is_fraud            2
dtype: int64

In [21]:
# merchant, street, city, job
from category_encoders import TargetEncoder

target_encoder = TargetEncoder()

df["merchant"] = target_encoder.fit_transform(df["merchant"],df["is_fraud"])
df["street"] = target_encoder.fit_transform(df["street"],df["is_fraud"])
df["city"] = target_encoder.fit_transform(df["city"],df["is_fraud"])
df["job"] = target_encoder.fit_transform(df["job"],df["is_fraud"])

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   merchant     555719 non-null  float64
 1   category     555719 non-null  int32
 2   amount(USD)  555719 non-null  float64
 3   gender       555719 non-null  int32
 4   street       555719 non-null  float64
 5   city         555719 non-null  float64
 6   state        555719 non-null  int32
 7   zip          555719 non-null  int64
 8   lat          555719 non-null  float64
 9   long         555719 non-null  float64
 10  city_pop     555719 non-null  int64
 11  job          555719 non-null  float64
 12  merch_lat    555719 non-null  float64
 13  merch_long   555719 non-null  float64
 14  is_fraud     555719 non-null  int64
dtypes: float64(9), int32(3), int64(3)
memory usage: 57.2 MB

In [23]:
# df.to_csv('clean_fraudTrain.csv', index=False)
# df.to_csv('clean_fraudTest.csv', index=False)